.container {
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(186, 184, 231);
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100vh;
  width: 100%;
  text-align: center;
}
#header {
  display: inline-flex;
  justify-content: space-between;
  background-color: rgba(210, 218, 224, 0.603);
  width: 100%;
}
#header-img {
  display: block;
  padding-top: 10px;
  justify-content: left;
  width: 250px;
  height: 30px;
}
#header {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }
  li {
    display: inline;
    font-size: 16px;
  }
  a {
    padding: 10px;
    text-decoration: none;
    color: rgb(69, 65, 65);
  }
}

.one {
  margin-top: 100px;
  margin-bottom: 40px;
  display: block;
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: 30px;
}
#email {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  text-align: center;
}
.btn {
  background-color: rgb(87, 84, 158);
  color: aliceblue;
  border: solid rgb(87, 84, 158);
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
}
#features {
  display: block;
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
}
#features i {
  font-size: 50px;
  float: left;
  margin-right: 50px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
  color: rgb(71, 69, 143);
}
#features .first,
.two,
.three {
  padding: 15px;
}
.first h3,
p {
  margin-left: 20px;
}
h3 {
  font-size: 26px;
}
.first i {
  width: 60px;
}
#how-it-works {
  padding-bottom: 30px;
}
#video {
  width: 70%;
  display: block;
  margin: auto;
  border: none;
  border-radius: 3px;
}
#pricing {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
#first,
#second,
#third {
  border: 1px solid black;
  border-radius: 3px;
  top: -30px;
  text-align: center;
}
#pricing h4 {
  background-color: rgba(240, 248, 255, 0.639);
  border-radius: 3px;
  padding: 14px;
  font-weight: 400;
  margin-top: 1px;
}
#pricing p {
  font-size: 24px;
  font-weight: 600;
}
#pricing ul {
  list-style: none;
  line-height: 2rem;
  margin-top: -5px;
  text-align: center;
  padding-right: 25px;
  padding-bottom: 10px;
}
#pricing button {
  padding: 10px 15px;
  margin: 15px;
  background-color: rgb(87, 84, 158);
  border: none;
  border-radius: 3px;
}
footer {
  margin: 25px auto;
  width: 100%;
  display: block;
  background-color: rgba(210, 218, 224, 0.603);
  margin-bottom: -15px;
  padding: 15px;
  text-align: center;
}
.footer {
  text-align: center;
  margin: auto;
}
.footer a {
  display: inline;
  text-decoration: none;
  color: rgb(69, 65, 65);
  padding: 5px;
}
@media only screen and (max-width: 500px) {
  .container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }

  #img-header {
    width: 15px;
    height: 5px;
    text-align: left;
  }
  #header li {
    display: inline;
    font-size: 12px;
  }
  #header ul {
    padding-top: 15px;
  }
  #features {
    margin: auto 0;
  }
  #features i {
    display: none;
  }

  #features h3,
  p {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
  #videos {
    font-size: 35px;
  }
  #pricing {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
  }
  #first,
  #second,
  #third {
    margin: 5px;
    text-align: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
